/* responsive default */

.jarak-navbar {
    margin-top: 10px;
}

.logo-icon {
    width: 165px;
    height: 30px;
}

.nav-link {
    font-weight: 500;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #6199E5;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
}

.display-4 {
    font-size: 48px;
    color: #333;
    line-height: 130%;
    letter-spacing: 0.01em;
    font-weight: 550;
    font-style: normal;
}

.btn-color {
    margin-top: 10px;
    background-color: #6199E5;
    color: #fff;
    width: 120px;
    height: 52px;
    border-radius: 30px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
}

.bi-youtube {
    margin-left: 20px;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-top: 10px;
    color: #333;
}

.bi-instagram {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-top: 10px;
}

.bi-whatsapp {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-top: 10px;
}

.bi-github {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-top: 10px;
}

.hero1 {
    width: 100%;
    margin-top: 50px;
}


/* bagian hero 2 */

.hero2 {
    margin-top: 20px;
    width: 100%;
}

.display-5 {
    font-style: normal;
    font-size: 48px;
    color: #333;
    line-height: 130%;
    /* or 94px */
    letter-spacing: 0.02em;
    font-weight: 550;
    margin-top: 20px;
    text-align: center;
}

.icon1 {
    width: 25%;
}

.heading-icon {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 550;
    font-style: normal;
}

.text-icon {
    font-size: 14px;
    font-style: normal;
}

.bg-hero3 {
    width: 200px;
    margin-left: -20px;
    margin-top: -100px;
}

.ceklis {
    width: 40.51px;
    height: 29.57px;
}

.kotak {
    padding-bottom: 8px;
    float: right;
    margin-left: 20px;
}

.float {
    height: 5px;
    float: left;
}

.heading {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.04em;
    line-height: 130%;
    text-align: left;
}

.text {
    font-weight: 500;
    font-size: 14px;
    text-align: justify;
}


/* bagian hero 3*/

.height {
    height: 100vh;
}

.tinggi {
    position: relative;
}

.hero3 {
    position: absolute;
    background-size: contain;
    background-image: url(/img/hero3.png);
    z-index: -1;
    width: 360px;
    height: 1000px;
    background-repeat: no-repeat;
}


/* bagian hero 4 */

.bg-hero4 {
    width: 200px;
    margin-top: -350px;
    height: 400px;
    position: absolute;
}

.display-6 {
    margin-top: 80px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    line-height: 130%;
}


/* bagian card */

.heading-card {
    font-size: 20px;
    font-weight: 800;
    color: #FFFFFF;
    text-align: center;
}

.card {
    background: #FFFFFF;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    width: 90%;
    height: 464px;
    cursor: pointer;
    margin: auto;
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

.bg-heading {
    background: #6199E5;
}

.card-title {
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.04em;
    color: #333333;
    text-align: center;
    padding-top: 20px;
}

.anak-title {
    font-size: 20px;
    color: #333;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.04em;
    padding-top: 10px;
}


/* card hover */

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card-text {
    font-size: 14px;
    text-align: justify;
    padding-top: 20px;
    color: #333333;
    text-transform: lowercase;
}

.btn {
    width: 140px;
    height: 48px;
    background: #6199E5;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    font-style: normal;
    text-align: center;
    margin-top: 20px;
}

.jarak-card {
    padding-bottom: 50px;
}

.bg-hero5 {
    width: 60%;
    right: 0;
    position: absolute;
}

.bg-hero-6 {
    left: 0;
    width: 30%;
    position: absolute;
}


/* bagian contact us */

.margin-contact-us {
    margin-top: 100px;
}

.display-7 {
    font-size: 46px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.01em;
}

.jarak-button-contact {
    margin-top: 20px;
}


/* bagian desktop */


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .jarak-navbar {
        margin-top: 20px;
    }
    .logo-icon {
        width: 170.83px;
        height: 31.38px;
    }
    .nav-link {
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
    }
    .nav-link::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        background: #6199E5;
        transition: width .3s;
    }
    .nav-link:hover::after {
        width: 100%;
    }
    /* bagian hero 1 */
    .display-4 {
        font-style: normal;
        font-size: 70px;
        color: #333;
        line-height: 130%;
        /* or 94px */
        letter-spacing: 0.02em;
        font-weight: bold;
    }
    /* bagian gambar hero */
    .hero1 {
        width: 546px;
        height: 516px;
        margin-top: 0px;
    }
    .jarak-hero1 {
        margin-top: 110px;
    }
    /* bagian button hero 1 */
    .btn-color {
        margin-top: 10px;
        background-color: #6199E5;
        color: #fff;
        width: 130px;
        height: 52px;
        border-radius: 30px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        margin-right: 20px;
    }
    /* bagian icon */
    .bi-youtube {
        width: 35px;
        height: 35px;
        margin-right: 10px;
        margin-top: 10px;
        margin-left: 0px;
    }
    .bi-instagram {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        margin-top: 10px;
    }
    .bi-whatsapp {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        margin-top: 10px;
    }
    .bi-github {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        margin-top: 10px;
    }
    /* bagian hero 2 */
    .hero2 {
        width: 540px;
        height: 516px;
    }
    .display-5 {
        font-style: normal;
        font-size: 70px;
        color: #333;
        line-height: 130%;
        /* or 94px */
        letter-spacing: 0.02em;
        font-weight: bold;
        margin-top: 0px;
        text-align: left;
    }
    /*  */
    .icon1 {
        width: 88px;
        height: 88px;
        margin: auto;
    }
    .heading-icon {
        margin-top: 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        /* identical to box height */
        color: #333333;
        padding-top: 0px;
    }
    .text-icon {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        color: #333333;
        line-height: 25px;
    }
    /* bagian hero 3 */
    .minus {
        margin-top: -150px;
    }
    .margin {
        margin-top: 150px;
    }
    .bg-hero3 {
        width: 290px;
        height: 500.48px;
        margin-left: -20px;
        margin-top: -100px;
    }
    /* bagian gambar hero */
    .ceklis {
        width: 48.51px;
        height: 35.57px;
    }
    .float {
        height: 5px;
        float: left;
    }
    .kotak {
        width: 500px;
        height: 100px;
        float: right;
    }
    .heading {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0.04em;
        line-height: 130%;
    }
    .text {
        font-weight: 500;
        font-size: 15px;
    }
    .height {
        height: 0vh;
        margin-left: -15px;
    }
    .tinggi {
        position: relative;
        height: 50vh;
        margin-left: 0;
    }
    .hero3 {
        position: absolute;
        background-size: cover;
        background-image: url(/img/hero3.png);
        z-index: -1;
        width: 610px;
        height: 800px;
        margin-left: 21px;
        display: flex;
    }
    /* bagian hero 4 */
    .bg-hero4 {
        z-index: 1;
        height: 414px;
        position: absolute;
        margin-top: 0;
    }
    .display-6 {
        text-align: center;
        font-style: normal;
        font-weight: 800;
        font-size: 68px;
        line-height: 130%;
        margin-top: 100px;
    }
    /* bagian card */
    .costum-card {
        width: 318px;
        height: 464px;
        margin-top: 50px;
    }
    .heading-card {
        font-size: 20px;
        font-weight: 800;
        color: #FFFFFF;
        text-align: center;
    }
    .card {
        background: #FFFFFF;
        box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
        width: 318.28px;
        height: 464px;
        cursor: pointer;
        transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    }
    .bg-heading {
        background: #6199E5;
    }
    .card-title {
        font-size: 48px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 0.04em;
        color: #333333;
        text-align: center;
        padding-top: 20px;
    }
    .anak-title {
        font-size: 20px;
        color: #333;
        font-weight: 600;
        font-style: normal;
        text-align: center;
        letter-spacing: 0.04em;
        padding-top: 10px;
    }
    /* card hover */
    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    }
    .card-text {
        font-size: 14px;
        text-align: justify;
        padding-top: 20px;
        color: #333333;
        text-transform: lowercase;
    }
    .btn {
        width: 140px;
        height: 48px;
        background: #6199E5;
        border-radius: 25px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        font-style: normal;
        text-align: center;
        margin-top: 20px;
    }
    .jarak-hero4 {
        margin-top: 100px;
    }
    .relative {
        position: relative;
    }
    .bg-hero5 {
        position: absolute;
        width: 500px;
        height: 600px;
        right: 0;
        z-index: -1;
    }
    .background {
        position: absolute;
    }
    .bg-hero-6 {
        left: 0;
        position: absolute;
        width: 200px;
        z-index: -1;
    }
    /* bagian contact us */
    .margin-contact-us {
        margin-top: 200px;
    }
    .display-7 {
        font-size: 52px;
        font-weight: 800;
        line-height: 130%;
        letter-spacing: 0.04em;
    }
    .jarak-button-contact {
        margin-top: 32px;
    }
    /* bagian footer */
    .background-color {
        height: 400px;
        background-color: #6199E5;
        border-radius: 70px 70px 0px 0px;
    }
    /* .tengah {
        margin-top: auto;
    } */
    .heading-logo {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
    }
    .heading-footer1 {
        margin-top: 180px;
    }
    .heading-footer,
    .heading-footer1 {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        text-align: left;
    }
    .mid {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .logo-footer {
        width: 100px;
        position: absolute;
        margin-top: 50px;
        display: block;
    }
    .text-footer {
        color: #fff;
        letter-spacing: 0.05em;
        line-height: 127%;
        font-size: 16px;
    }
    .text-logo {
        color: #fff;
        letter-spacing: 0.05em;
        font-size: 16px;
        line-height: 127%;
        text-align: center;
    }
    .link-footer {
        display: block;
        color: #fff;
        font-size: 16px;
        padding-top: 20px;
        box-sizing: border-box;
    }
    .text-footer-bawah {
        text-align: center;
        color: #fff;
        letter-spacing: 0.11em;
        font-size: 20px;
    }
    .bg-color {
        background-color: #6199E5;
    }
    /* icon love hover */
    .bi-heart-fill:hover {
        color: red;
    }
}
